In [32]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
water_pump = pd.read_csv("./Data/tanzanian_water_pumps.csv")

In [3]:
water_pump.head()

,Unnamed: 0,id,status_group,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,...,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
0,0,69572,functional,6000.0,2011-03-14,Roman,1390,Roman,34.938093,-9.856322,...,annually,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
1,1,8776,functional,0.0,2013-03-06,Grumeti,1399,GRUMETI,34.698766,-2.147466,...,never pay,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe
2,2,34310,functional,25.0,2013-02-25,Lottery Club,686,World vision,37.460664,-3.821329,...,per bucket,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe
3,3,67743,non functional,0.0,2013-01-28,Unicef,263,UNICEF,38.486161,-11.155298,...,never pay,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe
4,4,19728,functional,0.0,2011-07-13,Action In A,0,Artisan,31.130847,-1.825359,...,never pay,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe

In [4]:
water_pump.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59400 entries, 0 to 59399
Data columns (total 42 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             59400 non-null  int64
 1   id                     59400 non-null  int64
 2   status_group           59400 non-null  object
 3   amount_tsh             59400 non-null  float64
 4   date_recorded          59400 non-null  object
 5   funder                 55765 non-null  object
 6   gps_height             59400 non-null  int64
 7   installer              55745 non-null  object
 8   longitude              59400 non-null  float64
 9   latitude               59400 non-null  float64
 10  wpt_name               59400 non-null  object
 11  num_private            59400 non-null  int64
 12  basin                  59400 non-null  object
 13  subvillage             59029 non-null  object
 14  region                 59400 non-null  object
 15  region_code            59400 non-null  int64
 16  district_code          59400 non-null  int64
 17  lga                    59400 non-null  object
 18  ward                   59400 non-null  object
 19  population             59400 non-null  int64
 20  public_meeting         56066 non-null  object
 21  recorded_by            59400 non-null  object
 22  scheme_management      55523 non-null  object
 23  scheme_name            31234 non-null  object
 24  permit                 56344 non-null  object
 25  construction_year      59400 non-null  int64
 26  extraction_type        59400 non-null  object
 27  extraction_type_group  59400 non-null  object
 28  extraction_type_class  59400 non-null  object
 29  management             59400 non-null  object
 30  management_group       59400 non-null  object
 31  payment                59400 non-null  object
 32  payment_type           59400 non-null  object
 33  water_quality          59400 non-null  object
 34  quality_group          59400 non-null  object
 35  quantity               59400 non-null  object
 36  quantity_group         59400 non-null  object
 37  source                 59400 non-null  object
 38  source_type            59400 non-null  object
 39  source_class           59400 non-null  object
 40  waterpoint_type        59400 non-null  object
 41  waterpoint_type_group  59400 non-null  object
dtypes: float64(3), int64(8), object(31)
memory usage: 19.0+ MB

In [8]:
drop_cols = ["Unnamed: 0", "id", "longitude", "latitude", "wpt_name", "date_recorded", "num_private", "scheme_name"]

In [9]:
water_pump.drop(drop_cols, axis=1, inplace=True)
water_pump.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59400 entries, 0 to 59399
Data columns (total 34 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   status_group           59400 non-null  object
 1   amount_tsh             59400 non-null  float64
 2   funder                 55765 non-null  object
 3   gps_height             59400 non-null  int64
 4   installer              55745 non-null  object
 5   basin                  59400 non-null  object
 6   subvillage             59029 non-null  object
 7   region                 59400 non-null  object
 8   region_code            59400 non-null  int64
 9   district_code          59400 non-null  int64
 10  lga                    59400 non-null  object
 11  ward                   59400 non-null  object
 12  population             59400 non-null  int64
 13  public_meeting         56066 non-null  object
 14  recorded_by            59400 non-null  object
 15  scheme_management      55523 non-null  object
 16  permit                 56344 non-null  object
 17  construction_year      59400 non-null  int64
 18  extraction_type        59400 non-null  object
 19  extraction_type_group  59400 non-null  object
 20  extraction_type_class  59400 non-null  object
 21  management             59400 non-null  object
 22  management_group       59400 non-null  object
 23  payment                59400 non-null  object
 24  payment_type           59400 non-null  object
 25  water_quality          59400 non-null  object
 26  quality_group          59400 non-null  object
 27  quantity               59400 non-null  object
 28  quantity_group         59400 non-null  object
 29  source                 59400 non-null  object
 30  source_type            59400 non-null  object
 31  source_class           59400 non-null  object
 32  waterpoint_type        59400 non-null  object
 33  waterpoint_type_group  59400 non-null  object
dtypes: float64(1), int64(5), object(28)
memory usage: 15.4+ MB

In [10]:
for col_name in water_pump.columns[18:34]:
    print(water_pump[col_name].value_counts())

gravity                      26780
nira/tanira                   8154
other                         6430
submersible                   4764
swn 80                        3670
mono                          2865
india mark ii                 2400
afridev                       1770
ksb                           1415
other - rope pump              451
other - swn 81                 229
windmill                       117
india mark iii                  98
cemo                            90
other - play pump               85
walimi                          48
climax                          32
other - mkulima/shinyanga        2
Name: extraction_type, dtype: int64
gravity            26780
nira/tanira         8154
other               6430
submersible         6179
swn 80              3670
mono                2865
india mark ii       2400
afridev             1770
rope pump            451
other handpump       364
other motorpump      122
wind-powered         117
india mark iii        98
Name: extraction_type_group, dtype: int64
gravity         26780
handpump        16456
other            6430
submersible      6179
motorpump        2987
rope pump         451
wind-powered      117
Name: extraction_type_class, dtype: int64
vwc                 40507
wug                  6515
water board          2933
wua                  2535
private operator     1971
parastatal           1768
water authority       904
other                 844
company               685
unknown               561
other - school         99
trust                  78
Name: management, dtype: int64
user-group    52490
commercial     3638
parastatal     1768
other           943
unknown         561
Name: management_group, dtype: int64
never pay                25348
pay per bucket            8985
pay monthly               8300
unknown                   8157
pay when scheme fails     3914
pay annually              3642
other                     1054
Name: payment, dtype: int64
never pay     25348
per bucket     8985
monthly        8300
unknown        8157
on failure     3914
annually       3642
other          1054
Name: payment_type, dtype: int64
soft                  50818
salty                  4856
unknown                1876
milky                   804
coloured                490
salty abandoned         339
fluoride                200
fluoride abandoned       17
Name: water_quality, dtype: int64
good        50818
salty        5195
unknown      1876
milky         804
colored       490
fluoride      217
Name: quality_group, dtype: int64
enough          33186
insufficient    15129
dry              6246
seasonal         4050
unknown           789
Name: quantity, dtype: int64
enough          33186
insufficient    15129
dry              6246
seasonal         4050
unknown           789
Name: quantity_group, dtype: int64
spring                  17021
shallow well            16824
machine dbh             11075
river                    9612
rainwater harvesting     2295
hand dtw                  874
lake                      765
dam                       656
other                     212
unknown                    66
Name: source, dtype: int64
spring                  17021
shallow well            16824
borehole                11949
river/lake              10377
rainwater harvesting     2295
dam                       656
other                     278
Name: source_type, dtype: int64
groundwater    45794
surface        13328
unknown          278
Name: source_class, dtype: int64
communal standpipe             28522
hand pump                      17488
other                           6380
communal standpipe multiple     6103
improved spring                  784
cattle trough                    116
dam                                7
Name: waterpoint_type, dtype: int64
communal standpipe    34625
hand pump             17488
other                  6380
improved spring         784
cattle trough           116
dam                       7
Name: waterpoint_type_group, dtype: int64

extraction_type: 5 dfferent other groups, two india mark groups (with research we find these are types of pumps, so going to keep. so drop in favor of extraction_type_grooup.  

extraction_type_class is more macro but lose the manufacturer breakdown(this could be helpful info)

management: "other - school" rename school 

management_group: is good

payment vs. payment_type are the same. keep payment

water_quality and quality_group are similar: the quality_group just groups the salty and flouride together, soft is same as good. because low value counts in water_quality use quality_group.

quantity and quantity_group is exact same so keep quantity

source and source_type are the same except source_type doe NaN for unknown and groups lake/river. keep source

source_class has 278 unknowns...drop missing rows? check to see if the unknowns line up with the status 

water_point_type and water_point_type_group: 7 obs for dam...move these to other category. keep water_point_type because standpoints (multiple versus single seems to matter for water quality according to outside reserch) drop the 7 dam. 


drop_cols ["extraction_type", "payment_type", "water_quality", "quantity_group", "source_type", "water_point_type_group"]

In [6]:
water_pump.isnull().sum()

Unnamed: 0                   0
id                           0
status_group                 0
amount_tsh                   0
date_recorded                0
funder                    3635
gps_height                   0
installer                 3655
longitude                    0
latitude                     0
wpt_name                     0
num_private                  0
basin                        0
subvillage                 371
region                       0
region_code                  0
district_code                0
lga                          0
ward                         0
population                   0
public_meeting            3334
recorded_by                  0
scheme_management         3877
scheme_name              28166
permit                    3056
construction_year            0
extraction_type              0
extraction_type_group        0
extraction_type_class        0
management                   0
management_group             0
payment                      0
payment_type                 0
water_quality                0
quality_group                0
quantity                     0
quantity_group               0
source                       0
source_type                  0
source_class                 0
waterpoint_type              0
waterpoint_type_group        0
dtype: int64

In [13]:
#Data cleaning: management change "other - school" to "school"
water_pump["management"].replace("other - school", "school", inplace=True)
water_pump["management"].value_counts()

vwc                 40507
wug                  6515
water board          2933
wua                  2535
private operator     1971
parastatal           1768
water authority       904
other                 844
company               685
unknown               561
school                 99
trust                  78
Name: management, dtype: int64

In [18]:
# "source_class" had unknown values. Looked into where they fell. 
water_pump["source_class"].groupby(water_pump["status_group"]).value_counts(normalize=True)

status_group             source_class
functional               groundwater     0.769863
                         surface         0.225239
                         unknown         0.004898
functional needs repair  groundwater     0.634932
                         surface         0.363910
                         unknown         0.001158
non functional           groundwater     0.798195
                         surface         0.196767
                         unknown         0.005039
Name: source_class, dtype: float64

Most of the unknown are split between function and nonfunctional meaning we could drop the unknown values if we wanted to.

In [ ]:
water_pump["waterpoint_type_group"].groupby(by=water_pump["status_group"]).value_counts(normalize=True)

In [ ]:
for col_name in water_pump.columns[18:34]:
    print(water_pump[col_name].groupby(by=water_pump["status_group"]).value_counts(normalize=True))

In [20]:
water_pump["amount_tsh"].groupby(by=water_pump["status_group"]).mean()

status_group
functional                 461.798235
functional needs repair    267.071577
non functional             123.481230
Name: amount_tsh, dtype: float64

## Pipeline

In [ ]:
numeric_cols = []
cat_cols =[]