Tanzania Water Pumps

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as stats
%matplotlib inline

In [2]:
df1 = pd.read_csv('Data/water_columns.csv')
df1.head()

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,...,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
0,69572,6000.0,2011-03-14,Roman,1390,Roman,34.938093,-9.856322,none,0,...,annually,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
1,8776,0.0,2013-03-06,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,0,...,never pay,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe
2,34310,25.0,2013-02-25,Lottery Club,686,World vision,37.460664,-3.821329,Kwa Mahundi,0,...,per bucket,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe
3,67743,0.0,2013-01-28,Unicef,263,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,0,...,never pay,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe
4,19728,0.0,2011-07-13,Action In A,0,Artisan,31.130847,-1.825359,Shuleni,0,...,never pay,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe

In [3]:
df2 = pd.read_csv('Data/water_status_group.csv')
df2.head()

      id    status_group
0  69572      functional
1   8776      functional
2  34310      functional
3  67743  non functional
4  19728      functional

In [4]:
water_pump = df1.merge(df2, how='right')
water_pump.head()

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,...,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group,status_group
0,69572,6000.0,2011-03-14,Roman,1390,Roman,34.938093,-9.856322,none,0,...,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe,functional
1,8776,0.0,2013-03-06,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,0,...,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe,functional
2,34310,25.0,2013-02-25,Lottery Club,686,World vision,37.460664,-3.821329,Kwa Mahundi,0,...,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe,functional
3,67743,0.0,2013-01-28,Unicef,263,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,0,...,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe,non functional
4,19728,0.0,2011-07-13,Action In A,0,Artisan,31.130847,-1.825359,Shuleni,0,...,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe,functional

In [5]:
water_pump.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 59400 entries, 0 to 59399
Data columns (total 41 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     59400 non-null  int64
 1   amount_tsh             59400 non-null  float64
 2   date_recorded          59400 non-null  object
 3   funder                 55765 non-null  object
 4   gps_height             59400 non-null  int64
 5   installer              55745 non-null  object
 6   longitude              59400 non-null  float64
 7   latitude               59400 non-null  float64
 8   wpt_name               59400 non-null  object
 9   num_private            59400 non-null  int64
 10  basin                  59400 non-null  object
 11  subvillage             59029 non-null  object
 12  region                 59400 non-null  object
 13  region_code            59400 non-null  int64
 14  district_code          59400 non-null  int64
 15  lga                    59400 non-null  object
 16  ward                   59400 non-null  object
 17  population             59400 non-null  int64
 18  public_meeting         56066 non-null  object
 19  recorded_by            59400 non-null  object
 20  scheme_management      55523 non-null  object
 21  scheme_name            31234 non-null  object
 22  permit                 56344 non-null  object
 23  construction_year      59400 non-null  int64
 24  extraction_type        59400 non-null  object
 25  extraction_type_group  59400 non-null  object
 26  extraction_type_class  59400 non-null  object
 27  management             59400 non-null  object
 28  management_group       59400 non-null  object
 29  payment                59400 non-null  object
 30  payment_type           59400 non-null  object
 31  water_quality          59400 non-null  object
 32  quality_group          59400 non-null  object
 33  quantity               59400 non-null  object
 34  quantity_group         59400 non-null  object
 35  source                 59400 non-null  object
 36  source_type            59400 non-null  object
 37  source_class           59400 non-null  object
 38  waterpoint_type        59400 non-null  object
 39  waterpoint_type_group  59400 non-null  object
 40  status_group           59400 non-null  object
dtypes: float64(3), int64(7), object(31)
memory usage: 19.0+ MB

In [6]:
water_pump['status_group'].value_counts(normalize=True)

functional                 0.543081
non functional             0.384242
functional needs repair    0.072677
Name: status_group, dtype: float64

In [7]:
water_pump.isnull().sum()

id                           0
amount_tsh                   0
date_recorded                0
funder                    3635
gps_height                   0
installer                 3655
longitude                    0
latitude                     0
wpt_name                     0
num_private                  0
basin                        0
subvillage                 371
region                       0
region_code                  0
district_code                0
lga                          0
ward                         0
population                   0
public_meeting            3334
recorded_by                  0
scheme_management         3877
scheme_name              28166
permit                    3056
construction_year            0
extraction_type              0
extraction_type_group        0
extraction_type_class        0
management                   0
management_group             0
payment                      0
payment_type                 0
water_quality                0
quality_group                0
quantity                     0
quantity_group               0
source                       0
source_type                  0
source_class                 0
waterpoint_type              0
waterpoint_type_group        0
status_group                 0
dtype: int64

In [8]:
water_pump.columns

Index(['id', 'amount_tsh', 'date_recorded', 'funder', 'gps_height',
       'installer', 'longitude', 'latitude', 'wpt_name', 'num_private',
       'basin', 'subvillage', 'region', 'region_code', 'district_code', 'lga',
       'ward', 'population', 'public_meeting', 'recorded_by',
       'scheme_management', 'scheme_name', 'permit', 'construction_year',
       'extraction_type', 'extraction_type_group', 'extraction_type_class',
       'management', 'management_group', 'payment', 'payment_type',
       'water_quality', 'quality_group', 'quantity', 'quantity_group',
       'source', 'source_type', 'source_class', 'waterpoint_type',
       'waterpoint_type_group', 'status_group'],
      dtype='object')

In [9]:
print(water_pump['amount_tsh'].nunique())
print()
print ()
print(water_pump['amount_tsh'].value_counts())
#use unknown for values with <5

98


0.0         41639
500.0        3102
50.0         2472
1000.0       1488
20.0         1463
            ...
8500.0          1
6300.0          1
220.0           1
138000.0        1
12.0            1
Name: amount_tsh, Length: 98, dtype: int64

In [10]:
print(water_pump['date_recorded'].nunique())
print()
print()
print(water_pump['date_recorded'].value_counts())
#use to calculate new column age

356


2011-03-15    572
2011-03-17    558
2013-02-03    546
2011-03-14    520
2011-03-16    513
             ...
2011-09-28      1
2002-10-14      1
2004-01-07      1
2011-09-13      1
2013-12-01      1
Name: date_recorded, Length: 356, dtype: int64

In [11]:
print(water_pump['funder'].nunique())
print()
print()
print(water_pump['funder'].value_counts())
#drop column

1897


Government Of Tanzania      9084
Danida                      3114
Hesawa                      2202
Rwssp                       1374
World Bank                  1349
                            ...
Veo                            1
Richard M.Kyore                1
Village Water Commission       1
Rajab Seleman                  1
Shekhe                         1
Name: funder, Length: 1897, dtype: int64

In [12]:
print(water_pump['gps_height'].nunique())
print()
print()
print(water_pump['gps_height'].value_counts())
#lots of unknown/zero values

2428


 0       20438
-15         60
-16         55
-13         55
-20         52
         ...
 2285        1
 2424        1
 2552        1
 2413        1
 2385        1
Name: gps_height, Length: 2428, dtype: int64

In [13]:
print(water_pump['installer'].nunique())
print()
print()
print(water_pump['installer'].value_counts())
#use 'unknown'

2145


DWE                         17402
Government                   1825
RWE                          1206
Commu                        1060
DANIDA                       1050
                            ...
Got                             1
WOYEGE                          1
BUKUMB                          1
HOWARD HUMFREYS                 1
Dar es salaam Technician        1
Name: installer, Length: 2145, dtype: int64

In [14]:
print(water_pump['longitude'].nunique())
print()
print()
print(water_pump['longitude'].value_counts())
#use to map location

57516


0.000000     1812
37.540901       2
33.010510       2
39.093484       2
32.972719       2
             ...
37.579803       1
33.196490       1
34.017119       1
33.788326       1
30.163579       1
Name: longitude, Length: 57516, dtype: int64

In [15]:
print(water_pump['latitude'].nunique())
print()
print()
print(water_pump['latitude'].value_counts())
#use to map location

57517


-2.000000e-08    1812
-6.985842e+00       2
-3.797579e+00       2
-6.981884e+00       2
-7.104625e+00       2
                 ...
-5.726001e+00       1
-9.646831e+00       1
-8.124530e+00       1
-2.535985e+00       1
-2.598965e+00       1
Name: latitude, Length: 57517, dtype: int64

In [16]:
print(water_pump['basin'].nunique())
print()
print()
print(water_pump['basin'].value_counts())

9


Lake Victoria              10248
Pangani                     8940
Rufiji                      7976
Internal                    7785
Lake Tanganyika             6432
Wami / Ruvu                 5987
Lake Nyasa                  5085
Ruvuma / Southern Coast     4493
Lake Rukwa                  2454
Name: basin, dtype: int64

In [17]:
print(water_pump['subvillage'].nunique())
print()
print()
print(water_pump['subvillage'].value_counts())
#has almost 20,000 responses - some numbers and some words
#drop column

19287


Madukani             508
Shuleni              506
Majengo              502
Kati                 373
Mtakuja              262
                    ...
Injucha                1
Kitoro                 1
Msiu                   1
Kayenze Magharibi      1
Humbai                 1
Name: subvillage, Length: 19287, dtype: int64

In [18]:
print(water_pump['region'].nunique())
print()
print()
print(water_pump['region'].value_counts())

21


Iringa           5294
Shinyanga        4982
Mbeya            4639
Kilimanjaro      4379
Morogoro         4006
Arusha           3350
Kagera           3316
Mwanza           3102
Kigoma           2816
Ruvuma           2640
Pwani            2635
Tanga            2547
Dodoma           2201
Singida          2093
Mara             1969
Tabora           1959
Rukwa            1808
Mtwara           1730
Manyara          1583
Lindi            1546
Dar es Salaam     805
Name: region, dtype: int64

In [19]:
print(water_pump['region_code'].nunique())
print()
print()
print(water_pump['region_code'].value_counts())
#drop row where region code = 40
water_pump.drop(water_pump[water_pump['region_code'] == 40].index, inplace = True)

27


11    5300
17    5011
12    4639
3     4379
5     4040
18    3324
19    3047
2     3024
16    2816
10    2640
4     2513
1     2201
13    2093
14    1979
20    1969
15    1808
6     1609
21    1583
80    1238
60    1025
90     917
7      805
99     423
9      390
24     326
8      300
40       1
Name: region_code, dtype: int64

In [20]:
print(water_pump['district_code'].nunique())
print()
print()
print(water_pump['district_code'].value_counts())
#drop

20


1     12203
2     11173
3      9998
4      8999
5      4356
6      4074
7      3343
8      1043
30      995
33      874
53      745
43      504
13      391
23      293
63      195
62      109
60       63
0        23
80       12
67        6
Name: district_code, dtype: int64

In [21]:
print(water_pump['lga'].nunique())
print()
print()
print(water_pump['lga'].value_counts())
#drop Nyamagana
water_pump.drop(water_pump[water_pump['lga'] == 'Nyamagana'].index, inplace = True)
#group together Moshi Urban, Kigoma Urban, Arusha Urban, Lindi Urban as other urban

125


Njombe          2503
Arusha Rural    1252
Moshi Rural     1251
Bariadi         1177
Rungwe          1106
                ...
Moshi Urban       79
Kigoma Urban      71
Arusha Urban      63
Lindi Urban       21
Nyamagana          1
Name: lga, Length: 125, dtype: int64

In [22]:
print(water_pump['ward'].nunique())
print()
print()
print(water_pump['ward'].value_counts())
#drop

2091


Igosi               307
Imalinyi            252
Siha Kati           232
Mdandu              231
Nduruma             217
                   ...
Kihangimahuka         1
Mwanga Kaskazini      1
Nsemulwa              1
Thawi                 1
Mkumbi                1
Name: ward, Length: 2091, dtype: int64

In [23]:
print(water_pump['population'].nunique())
print()
print()
print(water_pump['population'].value_counts())

#convert to 0-50 to unk

1049


0       21380
1        7025
200      1940
150      1892
250      1681
        ...
3241        1
1960        1
1685        1
2248        1
1439        1
Name: population, Length: 1049, dtype: int64

In [24]:
print(water_pump['public_meeting'].nunique())
print()
print()
print(water_pump['public_meeting'].value_counts())
#doesnt seem like it would be relevant

2


True     51009
False     5055
Name: public_meeting, dtype: int64

In [25]:
print(water_pump['scheme_management'].nunique())
print()
print()
print(water_pump['scheme_management'].value_counts())
#drop none 
water_pump.drop(water_pump[water_pump['scheme_management'] == 'None'].index, inplace = True)

12


VWC                 36792
WUG                  5206
Water authority      3153
WUA                  2883
Water Board          2748
Parastatal           1680
Private operator     1062
Company              1061
Other                 766
SWC                    97
Trust                  72
None                    1
Name: scheme_management, dtype: int64

In [26]:
print(water_pump['scheme_name'].nunique())
print()
print()
print(water_pump['scheme_name'].value_counts())
#drop col
#28000 missing values

2696


K                682
None             644
Borehole         546
Chalinze wate    405
M                400
                ...
BL Majengo         1
Mnazi mmoja        1
Mpin               1
RC                 1
Solo               1
Name: scheme_name, Length: 2696, dtype: int64

In [27]:
print(water_pump['permit'].nunique())
print()
print()
print(water_pump['permit'].value_counts())
# has 356 empty values, maybe drop nans?
#water_pump = water_pump['permit'].dropna()

2


True     38851
False    17490
Name: permit, dtype: int64

In [28]:
water_pump['permit'].groupby(water_pump['status_group']).value_counts(normalize=True)

status_group             permit
functional               True      0.704299
                         False     0.295701
functional needs repair  True      0.671397
                         False     0.328603
non functional           True      0.672202
                         False     0.327798
Name: permit, dtype: float64

In [29]:
print(water_pump['construction_year'].nunique())
print()
print()
print(water_pump['construction_year'].value_counts())
#lots of unknown/zero values - 20709
#use 'unnknown'
#group together 1960-1969

55


0       20708
2010     2644
2008     2613
2009     2533
2000     2090
2007     1587
2006     1471
2003     1286
2011     1256
2004     1123
2012     1084
2002     1075
1978     1037
1995     1014
2005     1011
1999      979
1998      966
1990      954
1985      945
1980      811
1996      811
1984      779
1982      744
1994      738
1972      708
1974      676
1997      644
1992      640
1993      608
2001      540
1988      521
1983      488
1975      437
1986      434
1976      414
1970      411
1991      324
1989      316
1987      302
1981      238
1977      202
1979      192
1973      184
2013      176
1971      145
1960      102
1967       88
1963       85
1968       77
1969       59
1964       40
1962       30
1961       21
1965       19
1966       17
Name: construction_year, dtype: int64

In [30]:
print(water_pump['extraction_type'].nunique())
print()
print()
print(water_pump['extraction_type'].value_counts())
#drop - will use extraction type group

18


gravity                      26780
nira/tanira                   8153
other                         6429
submersible                   4763
swn 80                        3670
mono                          2865
india mark ii                 2400
afridev                       1770
ksb                           1415
other - rope pump              451
other - swn 81                 229
windmill                       117
india mark iii                  98
cemo                            90
other - play pump               85
walimi                          48
climax                          32
other - mkulima/shinyanga        2
Name: extraction_type, dtype: int64

In [31]:
print(water_pump['extraction_type_group'].nunique())
print()
print()
print(water_pump['extraction_type_group'].value_counts())

13


gravity            26780
nira/tanira         8153
other               6429
submersible         6178
swn 80              3670
mono                2865
india mark ii       2400
afridev             1770
rope pump            451
other handpump       364
other motorpump      122
wind-powered         117
india mark iii        98
Name: extraction_type_group, dtype: int64

In [32]:
print(water_pump['extraction_type_class'].nunique())
print()
print()
print(water_pump['extraction_type_class'].value_counts())

7


gravity         26780
handpump        16455
other            6429
submersible      6178
motorpump        2987
rope pump         451
wind-powered      117
Name: extraction_type_class, dtype: int64

In [33]:
print(water_pump['management'].nunique())
print()
print()
print(water_pump['management'].value_counts())

12


vwc                 40505
wug                  6515
water board          2933
wua                  2535
private operator     1970
parastatal           1768
water authority       904
other                 844
company               685
unknown               561
other - school         99
trust                  78
Name: management, dtype: int64

In [34]:
print(water_pump['management_group'].nunique())
print()
print()
print(water_pump['management_group'].value_counts())

5


user-group    52488
commercial     3637
parastatal     1768
other           943
unknown         561
Name: management_group, dtype: int64

In [35]:
print(water_pump['payment'].nunique())
print()
print()
print(water_pump['payment'].value_counts())

7


never pay                25346
pay per bucket            8984
pay monthly               8300
unknown                   8157
pay when scheme fails     3914
pay annually              3642
other                     1054
Name: payment, dtype: int64

In [36]:
print(water_pump['payment_type'].nunique())
print()
print()
print(water_pump['payment_type'].value_counts())
#drop - same values as payment feature

7


never pay     25346
per bucket     8984
monthly        8300
unknown        8157
on failure     3914
annually       3642
other          1054
Name: payment_type, dtype: int64

In [37]:
print(water_pump['water_quality'].nunique())
print()
print()
print(water_pump['water_quality'].value_counts())
#drop

8


soft                  50817
salty                  4855
unknown                1875
milky                   804
coloured                490
salty abandoned         339
fluoride                200
fluoride abandoned       17
Name: water_quality, dtype: int64

In [38]:
print(water_pump['quality_group'].nunique())
print()
print()
print(water_pump['quality_group'].value_counts())
#water_quality and quality_group are similar: the quality_group just groups the salty 
#and flouride together, soft is same as good.

6


good        50817
salty        5194
unknown      1875
milky         804
colored       490
fluoride      217
Name: quality_group, dtype: int64

In [39]:
print(water_pump['quantity'].nunique())
print()
print()
print(water_pump['quantity'].value_counts())

5


enough          33184
insufficient    15129
dry              6245
seasonal         4050
unknown           789
Name: quantity, dtype: int64

In [40]:
print(water_pump['quantity_group'].nunique())
print()
print()
print(water_pump['quantity_group'].value_counts())
#drop same as quantity feature

5


enough          33184
insufficient    15129
dry              6245
seasonal         4050
unknown           789
Name: quantity_group, dtype: int64

In [41]:
print(water_pump['source'].nunique())
print()
print()
print(water_pump['source'].value_counts())

10


spring                  17021
shallow well            16823
machine dbh             11073
river                    9612
rainwater harvesting     2295
hand dtw                  874
lake                      765
dam                       656
other                     212
unknown                    66
Name: source, dtype: int64

In [42]:
print(water_pump['source_type'].nunique())
print()
print()
print(water_pump['source_type'].value_counts())
#drop, same as source feature just grouped differently

7


spring                  17021
shallow well            16823
borehole                11947
river/lake              10377
rainwater harvesting     2295
dam                       656
other                     278
Name: source_type, dtype: int64

In [43]:
print(water_pump['source_class'].nunique())
print()
print()
print(water_pump['source_class'].value_counts())

3


groundwater    45791
surface        13328
unknown          278
Name: source_class, dtype: int64

In [44]:
water_pump['source_class'].groupby(water_pump['status_group']).value_counts(normalize=True)

status_group             source_class
functional               groundwater     0.769856
                         surface         0.225246
                         unknown         0.004898
functional needs repair  groundwater     0.634932
                         surface         0.363910
                         unknown         0.001158
non functional           groundwater     0.798177
                         surface         0.196784
                         unknown         0.005039
Name: source_class, dtype: float64

In [45]:
print(water_pump['waterpoint_type'].nunique())
print()
print()
print(water_pump['waterpoint_type'].value_counts())

7


communal standpipe             28521
hand pump                      17487
other                           6379
communal standpipe multiple     6103
improved spring                  784
cattle trough                    116
dam                                7
Name: waterpoint_type, dtype: int64

In [46]:
print(water_pump['waterpoint_type_group'].nunique())
print()
print()
print(water_pump['waterpoint_type_group'].value_counts())
#drop - waterpoint type does a better job of grouping communal standpipes
# and multiple communal standpipes

6


communal standpipe    34624
hand pump             17487
other                  6379
improved spring         784
cattle trough           116
dam                       7
Name: waterpoint_type_group, dtype: int64

In [47]:
drop_cols = ["funder", "id","subvillage", "district_code", "ward", "scheme_name",
             "extraction_type", "payment_type", "water_quality", 
             "quantity_group", "source_type", "waterpoint_type_group"]

In [48]:
water_pump.drop(drop_cols, axis=1, inplace=True)
water_pump.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 59397 entries, 0 to 59399
Data columns (total 29 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   amount_tsh             59397 non-null  float64
 1   date_recorded          59397 non-null  object
 2   gps_height             59397 non-null  int64
 3   installer              55742 non-null  object
 4   longitude              59397 non-null  float64
 5   latitude               59397 non-null  float64
 6   wpt_name               59397 non-null  object
 7   num_private            59397 non-null  int64
 8   basin                  59397 non-null  object
 9   region                 59397 non-null  object
 10  region_code            59397 non-null  int64
 11  lga                    59397 non-null  object
 12  population             59397 non-null  int64
 13  public_meeting         56063 non-null  object
 14  recorded_by            59397 non-null  object
 15  scheme_management      55520 non-null  object
 16  permit                 56341 non-null  object
 17  construction_year      59397 non-null  int64
 18  extraction_type_group  59397 non-null  object
 19  extraction_type_class  59397 non-null  object
 20  management             59397 non-null  object
 21  management_group       59397 non-null  object
 22  payment                59397 non-null  object
 23  quality_group          59397 non-null  object
 24  quantity               59397 non-null  object
 25  source                 59397 non-null  object
 26  source_class           59397 non-null  object
 27  waterpoint_type        59397 non-null  object
 28  status_group           59397 non-null  object
dtypes: float64(3), int64(5), object(21)
memory usage: 16.1+ MB

In [49]:
water_pump['current_yr'] = 2022
water_pump['age'] = water_pump['current_yr'] - water_pump['date_recorded'].str[:4].astype(int)
water_pump

,amount_tsh,date_recorded,gps_height,installer,longitude,latitude,wpt_name,num_private,basin,region,...,management_group,payment,quality_group,quantity,source,source_class,waterpoint_type,status_group,current_yr,age
0,6000.0,2011-03-14,1390,Roman,34.938093,-9.856322,none,0,Lake Nyasa,Iringa,...,user-group,pay annually,good,enough,spring,groundwater,communal standpipe,functional,2022,11
1,0.0,2013-03-06,1399,GRUMETI,34.698766,-2.147466,Zahanati,0,Lake Victoria,Mara,...,user-group,never pay,good,insufficient,rainwater harvesting,surface,communal standpipe,functional,2022,9
2,25.0,2013-02-25,686,World vision,37.460664,-3.821329,Kwa Mahundi,0,Pangani,Manyara,...,user-group,pay per bucket,good,enough,dam,surface,communal standpipe multiple,functional,2022,9
3,0.0,2013-01-28,263,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,0,Ruvuma / Southern Coast,Mtwara,...,user-group,never pay,good,dry,machine dbh,groundwater,communal standpipe multiple,non functional,2022,9
4,0.0,2011-07-13,0,Artisan,31.130847,-1.825359,Shuleni,0,Lake Victoria,Kagera,...,other,never pay,good,seasonal,rainwater harvesting,surface,communal standpipe,functional,2022,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59395,10.0,2013-05-03,1210,CES,37.169807,-3.253847,Area Three Namba 27,0,Pangani,Kilimanjaro,...,user-group,pay per bucket,good,enough,spring,groundwater,communal standpipe,functional,2022,9
59396,4700.0,2011-05-07,1212,Cefa,35.249991,-9.070629,Kwa Yahona Kuvala,0,Rufiji,Iringa,...,user-group,pay annually,good,enough,river,surface,communal standpipe,functional,2022,11
59397,0.0,2011-04-11,0,NaN,34.017087,-8.750434,Mashine,0,Rufiji,Mbeya,...,user-group,pay monthly,fluoride,enough,machine dbh,groundwater,hand pump,functional,2022,11
59398,0.0,2011-03-08,0,Musa,35.861315,-6.378573,Mshoro,0,Rufiji,Dodoma,...,user-group,never pay,good,insufficient,shallow well,groundwater,hand pump,functional,2022,11
59399,0.0,2011-03-23,191,World,38.104048,-6.747464,Kwa Mzee Lugawa,0,Wami / Ruvu,Morogoro,...,user-group,pay when scheme fails,salty,enough,shallow well,groundwater,hand pump,functional,2022,11

In [50]:
water_pump['age_construction'] = water_pump['current_yr'] - water_pump['construction_year']
water_pump['age_construction'].loc[water_pump['age_construction'] == water_pump['current_yr']] = 0

/Users/mysterious/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [ ]:
water_pump['pop_year'] = water_pump['population'] / water_pump['age']

In [ ]:
water_pump['pop_year-construction'] = water_pump['population'] / water_pump['age_construction']

In [ ]:
water_pump['Water_per_person'] = water_pump['amount_tsh']/water_pump['population']

In [ ]:
for col_name in water_pump.columns:
    print(water_pump[col_name].value_counts())

In [ ]:
water_pump['construction_year'].value_counts()

In [ ]:
water_pump.info()

In [ ]:
water_pump['pop/year'] = water_pump['population'] / water_pump['age']

In [ ]:
water_pump.corr().status_group.sort_values(ascending=False)

In [ ]:
water_pump['num_private'].value_counts()

In [ ]:
scatterplot_data = X_train_numeric.drop("sqft_living", axis=1) #already graphed above

fig, axes = plt.subplots(ncols=3, nrows=5, figsize=(12, 8))
fig.set_tight_layout(True)

for index, col in enumerate(scatterplot_data.columns):
    ax = axes[index//3][index%3]
    ax.scatter(X_train_numeric[col], y_train, alpha=0.2)
    ax.set_xlabel(col)
    ax.set_ylabel("price")

    
fig.delaxes(axes[4][1])
fig.delaxes(axes[4][2])

In [ ]:
water_pump['funder'].value_counts()

In [ ]:
water_pump['funder'].nunique()

In [ ]:
water_pump['funder'].value_counts().plot(kind='hist');